.footer {
  background: linear-gradient(135deg, #000012, #010223);
  color: #fff;
  padding: 90px 10%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid rgba(41, 38, 38, 0.1);
}
.footer hr{

  color: #ffffff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-top-left {
  position: relative;
  max-width: 450px;
}

.footer-top-left img {
  position: absolute;
  top: -20px;
  left:95px;
  width: 55px;
  opacity: 0.3;
  z-index: 0;
}

.footer-top-left h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fbf7f4;
  position: relative;
  z-index: 2;
}

.footer-top-left p {
  font-size: 15px;
  color: #cfcfcf;
  line-height: 1.6;
  z-index: 2;
  position: relative;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.footer-email-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 25px;
  background: #32323B;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}

.footer-email-input img {
  width: 20px;
  opacity: 0.7;
}

.footer-email-input input {
  background: transparent;
  border: none;
  outline: none;
  color: #a0a0a0;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  width: 180px;
}

.footer-sub {
  padding: 12px 28px;
  border-radius: 30px;
  background: linear-gradient(100deg, #b415ff  12%, #df8908);
  font-size: 16px;
  font-weight: 600;

  color: #fff;

  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 0 10px rgba(186, 80, 255, 0.4);
}

.footer-sub:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 0 20px rgba(218, 124, 37, 0.6);
}


hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 50px 0;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-bottom-left p {
  font-size: 14px;
  color: #aaa;
}


.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links p {
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.footer-links p::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #DA7C25, #B923E1);
  transition: width 0.3s ease;
}

.footer-links p:hover::after {
  width: 100%;
}

.footer-links p:hover {
  color: #fff;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.social-icon:hover {
  color: #DA7C25;
  transform: scale(1.2);
}


@media (max-width: 768px) {
  .footer {
    padding: 60px 8%;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-top-right {
    flex-direction: column;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .footer-bottom-right {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 8px;
  }

  .footer-email-input input {
    width: 100%;
  }
}
